<h1 class="text-center ">Update new Product</h1>
<div class="container w-50  text-center bg-secondary">

    <form (ngSubmit)="updateProduct(updateproductform)" #updateproductform="ngForm">
        <input [(ngModel)]="productdata.id" id="pid" name="p1" type="text" class="form-control mt-2 p-2"
            placeholder="product id">
        <input [(ngModel)]="productdata.productname" id="pname" name="p2" type="text" class="form-control mt-2 p-2"
            placeholder="product name">
        <input [(ngModel)]="productdata.categoryId" id="cid" name="p3" type="text" class="form-control mt-2 p-2"
            placeholder="category id">
        <input [(ngModel)]="productdata.description" id="did" name="p4" type="text" class="form-control mt-2 p-2"
            placeholder="description id">

        <input [(ngModel)]="productdata.price" id="prid" name="p5" type="text" class="form-control mt-2 p-2"
            placeholder="price id">
        <input [(ngModel)]="productdata.is_available" id="avid" name="p6" type="text" class="form-control mt-2 p-2"
            placeholder="is available  true/false">

        <input [(ngModel)]="productdata.productImg" id="ratid" name="p8" type="text" class="form-control mt-2 p-2"
            placeholder="product image">
        <input [(ngModel)]="productdata.rating" id="reid" name="p9" type="text" class="form-control mt-2 p-2"
            placeholder="product rating">
        <input [(ngModel)]="productdata.review" id="venid" name="p10" type="text" class="form-control mt-2 p-2"
            placeholder="product review">
        <input [(ngModel)]="productdata.vendor_name" id="wid" name="p11" type="text" class="form-control mt-2 p-2"
            placeholder="product vendor name">
        <input [(ngModel)]="productdata.warranty" id="imid" name="p7" type="text" class="form-control mt-2 p-2"
            placeholder="warranty">

        <button name="p1" class="btn btn-success mt-2 p-2 mb-3">Update product</button>
    </form>
</div>